<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/Books/Mechanics">Mechanics</a></li>
				<li><a href="/Books/Electromagnetism">Electromagnetism</a></li>
				<li><a href="/Books/Relativity">Relativity</a></li>
				<li><a href="/Books/Quantum mechanics">Quantum Mechanics</a></li>
				<li><a href="/Books/String theory">String theory</a></li>
				<li><a href="/Books/Thermodynamics and Statistical Mechanics">Thermodynamics and Statistical Mechanics</a></li>
				<li><a href="/">Home</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="lucas_sousa@usp.br">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
