<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><center><a href="/">Home</a></center></li>
	        		<li><center><a href="/cv">CV</a></center></li>
				<li><center><a href="/Books">Books</a></center></li>
				<li><center><a href="/Lists">Lists</a></center></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li>lucas_sousa@usp.br</li>
				</ul>
			</footer>
		</body>
	</html>
