<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/Books/Quantum Mechanics/Sakurai">Sakurai</a></li>
				<li><a href="/Books/Quantum Mechanics/Ballentine">Ballentine</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="lucas_sousa@usp.br">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
